<div id="nav-box">
	<div class="button" tabindex="0">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
	<div class="bg"></div>
	<div class="content" tabindex="0">
		<div class="profile">
			<div class="profile-img"></div>
			<div class="introduction">
				<p class="name">Autumn-yongs</p>
				<p class="description">Student developer dreaming life in San Francisco</p>
				<div class="contact">
					<div class="location">
						<img src='{{ "/assets/image/iconmonstr-location-1.svg"}}' alt="location">
						<p>Seoul, Republic of Korea</p>
					</div>
					<div class="gmail">
						<img src='{{ "/assets/image/iconmonstr-gmail-1.svg"}}' alt="gmail">
						<p>autumnyongs@gmail.com</p>
					</div>
					<div class="github">
						<img src='{{ "/assets/image/iconmonstr-github-1.svg"}}' alt="github">
						<p><a href="https://github.com/autumn-yongs" target="_blank">Github</a></p>
					</div>
				</div>
				
			</div>
		</div>
		<ul>
			{% for item in site.data.menu %}
				<li><a href="{{ item.link }}"
					{% if item.sub == true %}
						class="sub"
					{% endif %}>
					{{ item.name }}
				</a></li>
			{% endfor %}
		</ul>
	</div>
</div>