#categories .category-box {
	position: relative;
	margin: 0 20px;
	margin-bottom: 30px;
	border-radius: 10px;
	transition: box-shadow .3s ease-in-out, background .3s ease-in-out, padding-left .3s ease-in-out;
}

#categories .category-box ul {
	list-style: none;
}

#categories .category-box h2 {
	color: cornflowerblue;
	transition: all .3s linear;
}

#categories .category-box a {
	padding: 0 10px;
	border-radius: 10px;
	color: dimgray;
	transition: .3s;
}

#categories .category-box span {
	font-size: small;
	padding-left: 5px;
	color: gray;
	transition: .3s;
}

#categories .category-box:hover {
	margin-top: 10px;
	padding: 20px 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 10px dimgray;
	h2{
		position: absolute;
		top: -20px;
		left: 20px;
		text-shadow: 1px 1px 2px dimgray;
	}
	
}

#categories .category-box a:hover {
	background-color: gray;
	color: beige;
	opacity: .6;
}

#categories .category-box a:hover span {
	color: beige;
}