#categories .category-box {
	margin: 0 20px;
	margin-bottom: 30px;
}

#categories .category-box ul {
	list-style: none;
}

#categories .category-box h2 {
	color: cornflowerblue;
}

#categories .category-box a {
	padding: 0 10px;
	border-radius: 10px;
	color: dimgray;
	transition: .3s;
}

#categories .category-box span {
	font-size: small;
	padding-left: 5px;
	color: gray;
	transition: .3s;
}

#categories .category-box a:hover {
	background-color: gray;
	color: beige;
	opacity: .6;
}

#categories .category-box a:hover span {
	color: beige;
}