*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url("/assets/fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'Baloo Tammudu 2';
	src: url("/assets/fonts/BalooTammudu2-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Source Code Pro';
	src: url("/assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

body {
	background-color: linen;
	font-family: 'Noto Sans KR', sans-serif;
}



::-webkit-scrollbar {
  	height: 8px;
	width: 5px;
} 
::-webkit-scrollbar-track {
	background-color: white;
} 
::-webkit-scrollbar-thumb {
	background-color: dimgray; 
	border-radius: 30px;
} 
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  	display: none;
}