#post .title {
	padding-top: 50px;
	margin-top: 0;
	color: dimgray;
}

#post .date {
	display: inline;
	color: gray;
}

#post .updated {
	display: inline;
	color: gray;
}

#post hr {
	margin: 20px 0;
}

#post ul,
#post ol {
	padding-left: 30px;
	margin: 10px 0;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
	margin-top: 40px;
	margin-bottom: 10px;
}

#post p {
	margin: 10px 0;
}

#post a {
	display: inline-block;
	color: cornflowerblue;
	padding: .2em .6em;
	border-radius: .4em;
	margin: 5px 0;
	transition: .3s;
}

#post a:hover {
	background-color: powderblue;
}

#post .card {
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px 10px;
	max-width: 700px;
	background-color: white;
	border-radius: 20px;
	transition: .3s;
}

#post .card:hover {
	box-shadow: 5px 5px 10px dimgray;
}

#post .card .blog {
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: large;
	color: dimgray;
	letter-spacing: .15em;
}

#post .card .description {
	font-size: .8em;
}

#post .card hr {
	margin: 2px 0;
}

#post .card .license {
	text-align: center;
	font-size: .8em;
	margin: 5px 0;
}

#post .card .license a {
	margin-top: 0;
}

#post blockquote {
	padding: 0 1em;
	margin: 20px 0;
	color: dimgray;
	border-left: .25em solid cornflowerblue;
}

#post figure>img {
	display: block;
	margin: auto;
	box-shadow: 5px 5px 10px dimgray;
}

#post figure>img[size="xs-small"] {
	width: 80%;
	max-width: 70px;
}

#post figure>img[size="x-small"] {
	width: 80%;
	max-width: 150px;
}

#post figure>img[size="small"] {
	width: 80%;
	max-width: 300px;
}

#post figure>img[size="medium"] {
	width: 80%;
	max-width: 700px;
}

#post figure>img[size="large"] {
	width: 80%;
	max-width: 1200px;
}

#post figure>figcaption {
	display: block;
	width: 90%;
	max-width: 500px;
	margin: 10px auto;
	text-align: center;
	font-size: small;
	color: dimgray;
}

#post .content-table{
	text-align: center;
	background-color: white;
	margin: 40px auto;
	width: 90%;
	max-width: 700px;
	box-shadow: 5px 5px 10px dimgray;
	border-radius: 10px;
}

#post .content-table h3{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

#post .content-table input{
	display: none;
}

#post .content-table div{
	display: inline-block;
}

#post .content-table label{
	display: block;
	position: relative;
	top: 2px;
	width: 36px;
	height: 20px;
	border-radius: 36px;
	box-shadow: 0 0 5px dimgray;
	background-color: white;
	transition: all 0.3s ease;
}

#post .content-table label > span{
	display: block;
	position: absolute;
	top: 3px;
	left: 2px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45);
	background-color: cornflowerblue;
}

#post .content-table input:active + div label,
#post .content-table input:checked + div label {
	background-color: cornflowerblue;
	span{
		left: 19px;
		background-color: white;
	}
}

#post .content-table ul,
#post .content-table ol{
	visibility: hidden;
	text-align: left;
	height: 0;
	margin: 0;
	opacity: 0;
	transition: all .5s ease;
}

#post .content-table input:active ~ ul,
#post .content-table input:active ~ ol,
#post .content-table input:checked ~ ul,
#post .content-table input:checked ~ ol {
	visibility: visible;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 1;
	a{
		margin: 0;
	}
}


